/* firstpage.css */
.introduction {
    font-size: 80px;
    font-family: YAFdJiuMZaE-0;
    letter-spacing: -0.2em;
    /* font-weight: 400; */
    color: rgb(0, 247, 255);
    /* text-align: center; */
}

.portfolio {
    font-weight: 500;
    font-size: 80px;
    font-family: sans-serif;
    letter-spacing: 0.4em;
    margin-bottom: 10px;
    /* text-align: center; */
    color: black;
}
.introduction,
.portfolio {
    position: absolute;
    top: 50%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%);
}

.slanted-background {
    position: relative;
    /* overflow: hidden; */
    background-image: url('./Neymar.webp');
    background-size: cover;
    height: 35vh;
    width: 60vh;
    margin: 0 auto;
    margin-top: 200px;
    transform: rotate(-15deg);
    z-index: -1;
}

.slanted-background img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 0;
    border: 0;
    display: block;
    position: relative; /* Set position to relative */
}

.slanted-background div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Set a higher z-index to make it appear above the image */
}

h1 {
    margin-bottom: 60px;
    margin-top: 135px;
}