.introduction {
    font-size: 80px;
    font-family: YAFdJiuMZaE-0;
    letter-spacing: -0.2em;
    font-weight: 400;
    color : rgba(0, 247, 255, 0.258);

}

.portfolio {
    font-weight: 500;
    font-size: 80px;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    margin-bottom: 10px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    z-index: 1; /* Ensure the text is on top of the image */
}

.slanted-background {
    position: relative;
    overflow: hidden;
    background-image: url('./Neymar.webp'); /* Adjust the path to your image */
    background-size: cover;
    height: 100vh; /* Adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  